# for django server 
DJANGO_SECRET_KEY="qwrewe3r234234=-=-+234wwrerererer"
# for application
CACHE_HOST="redis://localhost:6379/0"
CELERY_BROKER_URL="redis://redis:6379/1"

DB_NAME="postgres"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="127.0.0.1"
DB_PORT="5432"
SENTRY_DSN=""
DJANGO_DEBUG="FALSE" # use TRUE for true

# use hostnames by comma seperated values
DJANGO_ALLOWED_HOSTS="127.0.0.1,localhost"


# for docker file
DJANGO_ADMIN_USERNAME="djate_admin"
DJANGO_ADMIN_PASSWORD="admin12345"
DJANGO_ADMIN_EMAIL="admin@django.com"
DOCKERFILE_TARGET="development" # either development or production, look into dockerfile for target

# for flower
FLOWER_USERNAME="flower_user"
FLOWER_PASSWORD="flower_password"
